In [ ]:
import qrcode
img = qrcode.make('https://colab.research.google.com/drive/1IAw00TMqgNmWZ1QKPTn_S23yKGiHYIEI?usp=sharing')
img.save('myqr.png')

In [ ]:
# pip install qrcode

In [ ]:
import pymysql as py
print('Done')

In [ ]:
pip install PyMySQL

In [ ]:
conn = py.connect(user = 'root',
           password='1234',
           host='localhost',
           autocommit = True)

print('Connection Created Successfully!!')
print('Done')

In [ ]:
query = '''create database IITM_day5;'''

In [ ]:
query = '''insert into student_details
values
(101,"Mohan Sharma","BCA","Delhi Janakpuri",5000),
(105,"Ravi verma","MCA","South Delhi",5500);
'''

In [ ]:
select * from iitm_day5.student_details;

In [ ]:
sid = int(input('Enter Roll No/SID: '))
name = input('Enter your Name: ')
course = input('Enter your Course: ')
address = input('Enter your Address: ')
scholarship = float(input('Enter your scholarship in RS: '))

In [ ]:
sid = int(input('Enter Roll No/SID: '))
name = input('Enter your Name: ')
course = input('Enter your Course: ')
address = input('Enter your Address: ')
scholarship = float(input('Enter your scholarship in RS: '))

q = f'''insert into student_details values
({sid},"{name}","{course}","{address}",{scholarship});'''

cur.execute(q)
print('Done')

In [ ]:
n = 3
for i in range(n):
    sid = int(input('Enter Roll No/SID: '))
    name = input('Enter your Name: ')
    course = input('Enter your Course: ')
    address = input('Enter your Address: ')
    scholarship = float(input('Enter your scholarship in RS: '))

    q = f'''insert into student_details values
    ({sid},"{name}","{course}","{address}",{scholarship});'''

    cur.execute(q)
    print('Record Inserted Successfully!!')
print('Done')

In [ ]:
query = '''select * from student_details;'''
cur.execute(query)

records = cur.fetchall()

all_columns = []
for i in cur.description:
    all_columns.append(i[0])


import pandas as pd
pd.DataFrame(records,columns=all_columns)

In [ ]:

def show_records(db,table):
    query = f'''select * from {db}.{table};'''
    cur.execute(query)

    records = cur.fetchall()

    all_columns = []
    for i in cur.description:
        all_columns.append(i[0])


    import pandas as pd
    df = pd.DataFrame(records,columns=all_columns)
    return df