In [2]:
print('pankhuri')

pankhuri

In [4]:
#question 1
#list:mutable                      tuple:immutable
#list:[]                           tuple:()
#list:eg:list=[1,2,3,4]            tuple:eg:tuple=(1,2,3,4)

In [5]:
#question 2
#input() is used to take input form user
#int:eg:  age=int(input('enter your age:'))

In [44]:
#question 3
#dictinaries-it contain row and column (2-d)
           # key value pair
           # use {}
#eg :
import pandas as pd
data={'name':['pankhuri','lavanya','arun'],'age':[19,19,19],'course':['bca','bca','bca']}
pd.DataFrame(data)

       name  age course
0  pankhuri   19    bca
1   lavanya   19    bca
2      arun   19    bca

In [10]:
#question 4
#for loop block of code that repeat where we know the number of iteration
for i in range(1,6):
    print(i)

1
2
3
4
5

In [13]:
#question 5
#exception handling is used to handle error that distrupt the flow of program
#try:it will point that there error can happen  it is followed by except()
#except:it will handle the error
#finnaly:it 
class RST:
    try:
        m=10
        n=0
        ANS=m/n
    except:
        print(' it is airthmetic exception')

 it is airthmetic exception

In [14]:
#question 6
#python mudule are file that contain code
#import math- here we call the math module 
#from math import sqrt - here we call sqrt(sqaure root) function from math module

In [30]:
#question 7
#object oriented programming:high level languge programming
#4 pillars
#encapsulation- hide sensative data
#polymorphism: show one message in multiple form
#inheritance: one class can inherit the property of another class
#data abstraction:hide internal data 
#class:blueprint
#object:instance of class
class RST:
    
    def say_hello(self):
        name=input('name:')
        print(f'{name} hello buddy!!')
    def say_bye(self):   
        name=input('name:')
        print(f'{name} bye buddy!!')

In [31]:
hii= RST()#hii is object of class RST # now hii will contain both function

In [32]:
hii.say_hello()

name: pankhuri

pankhuri hello buddy!!

In [33]:
hii.say_bye()

name: pankhuri

pankhuri bye buddy!!

In [34]:
#question 8

In [39]:
#question 9
def calculate_area():
    radius = float(input('enter radius:'))
    area =3.14*radius
    print(f'area:{area}')

In [40]:
calculate_area()

enter radius: 5

area:15.700000000000001

In [41]:
#question 10
name = str(input('enter your name'))
age= int(input('enter your age'))
print(f'hello {name}, you are {age} year old!')

enter your name pankhuri
enter your age 19

hello pankhuri, you are 19 year old!

In [46]:
#question 11
fruit=['mango','apple','lichi','banana','cherry']
for i in enumerate(fruit,1):
    print(i)

(1, 'mango')
(2, 'apple')
(3, 'lichi')
(4, 'banana')
(5, 'cherry')

In [51]:
#question 12
def grade_calculator():
    sub_1=int(input('enter your subject 1 marks:'))
    sub_2=int(input('enter your subject 2 marks:'))
    sub_3=int(input('enter your subject 3 marks:'))
    marks=sub_1+sub_2+sub_3
    total_marks=0
    if marks>90:
        print('A')
    elif marks>75:
        print('B')
    elif marks>50:
        print('C')
    elif marks>33:
        print('D')
    else:
        print('F')
    total_marks+=marks
    max_marks=3*100
    print(f'\nTotal Marks:{total_marks}/{max_marks}')
    percentage=total_marks/max_marks*100
    print(f'Percentage:{percentage}')
    if percentage >=33:
        print('Result:PASS')
    else:
        print('Result:FAIL')

In [52]:
grade_calculator()

enter your subject 1 marks: 23
enter your subject 2 marks: 23
enter your subject 3 marks: 34

B

Total Marks:80/300
Percentage:26.666666666666668
Result:FAIL